h1 {
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #00BFFF !important;
    font-size: 3rem !important;
    background-color: bisque;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900; 
}
  
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black !important;
    font-size: 1.5rem !important;
    background-color: bisque;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-weight: 500;  
}
  #container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-top: 50px !important;
  }
  #calculator {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px !important;
    display: grid !important;
    grid-template-columns: auto auto auto auto;
    gap: 10px !important;
    background-color: lightgray !important;
    border-radius: 10px !important;
  }
  #result {
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 10px !important;
    background-color: rgb(185, 185, 185) !important;
    font-size: larger !important;
    color: rgb(246, 246, 250) !important;
    border-color: rgb(185, 185, 185) !important;
  }
  #equal {
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: #00BFFF!important;
    border: rgb(30, 180, 30) !important;
    color:blue
  }
  button {
    padding: 10px;
    border-color: #dadada !important;
    background-color: lightgrey !important;
  }
  button:hover{
    background-color: #00BFFF !important;
  }
  body {
    background-color:lavenderblush !important;
  }
  #clear {
    color: rgb(246, 53, 13) !important;
    font-size: 1rem !important;
  }
  
  #multiple,
  #add,
  #subtract,
  #div {
    color: rgb(91, 77, 236) !important;
    font-size: x-large !important;
  }